
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics-build.properties
# Crashlytics plugin (for Android Studio and IntelliJ)
crashlytics.propertiesK
fabric.properties
## File-based project format:
# Gradle:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dynamic.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
# IntelliJ
*.iws
# JIRA plugin
# Mongo Explorer plugin:
# mpeltonen/sbt-idea plugin
out/
## Plugin-specific files:
# Sensitive or high-churn files:
# User-specific stuff:
/.classpath
/docs/.build/
